* {
    margin: 0;
    padding: 0;
}

:root {
    --light-gray: #F2F4F9;
    --teal: #51A2DA;
    --light-blue: #B8D1FF;
    --gray: #C2CEE5;
}

body {
    background-color: var(--light-gray);
}

.new-book-form {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    background-color: var(--light-gray);
    z-index: 3;
    border: solid black;
}

.new-book {
    border: solid var(--teal);
    padding: 10px;
}

h2 {
    display: flex;
    justify-content: center;
}

input {
    margin: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;  
    height: 25px; 
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switchslider {
    position: absolute;
    cursor: pointer; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    border-radius: 34px;  
}
  
.switchslider:before {
    position: absolute;
    content: "";
    height: 23px;  
    width: 23px;   
    right: 27px;
    bottom: 1px;   
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

    border-radius: 50%;
}
  
input:checked + .switchslider {
    background-color: #418ef3;
}
  
input:checked + .switchslider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.new-book-button-field {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.form-buttons {
    padding: 8px;
    background-color: var(--teal);
    border: none;
    box-shadow: 3px 3px black;
    font-weight: bold;
    font-size: medium;
    letter-spacing: .1rem;
    width: 80px;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    background-color: var(--teal);
}

.inner-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    background-color: var(--light-gray);
}

.book-btns {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.read,
.delete-book-btn{
    padding: 1px;
    background-color: var(--light-blue);
    border: none;
    box-shadow: 3px 3px var(--teal);
    font-weight: normal;
    font-size: small;
    /* letter-spacing: .1rem; */
    width: 100px;
}

